<div class="top-section">
    <app-add-new></app-add-new>
    <app-search [prods]="products" (filteredProdEvent)="setProducts($event)"></app-search>
</div>

<div class="products-container">
    <div class="products">
        <app-product *ngFor="let prod of products" [product]="prod" (deletedProdEvent)="setProduct($event)"
            (selectedProdEvent)="setSingleProduct($event)">
        </app-product>
    </div>
    <div class="edit-product">
        <app-product-details [selectedProd]="selectedProduct" (selectedProdEvent)="setProduct($event)">
        </app-product-details>
    </div>
</div>